.feature-image-card {
  @apply overflow-hidden w-full h-full relative;
  box-sizing: content-box;
  user-select: none;
  img {
    @apply w-full h-full object-cover transition-all;
  }

  &::before {
    @apply absolute inset-0 border-4 border-primary-600 pointer-events-none z-1;
    transition: all 0.1s ease;
    content: "";
    opacity: 0;
  }

  &::after {
    @apply absolute -inset-px;
    transition: opacity 0.2s ease;
    content: "";
    opacity: 0;
    backdrop-filter: none;
    pointer-events: none;
  }

  &.is-nsfw {
    &::after {
      backdrop-filter: blur(38px);
      opacity: 1;
    }
  }

  &.selected {
    &::before {
      opacity: 1;
    }
  }

  ui-favorite-toggle:not([ng-reflect-value="true"]) {
    transition: opacity 0.15s ease;
    opacity: 0;
  }

  .feature-image-card-top-shadow {
    @apply absolute inset-0 z-1;
    transition: opacity 0.15s ease;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0.3) 100%);
    pointer-events: none;
  }

  .feature-image-card-tools {
    @apply absolute bottom-0 left-0 right-0 py-2 px-2;
    @apply flex items-center gap-3;
    transition: all 0.15s ease;
    opacity: 0;
    background: rgba(0,0,0,0.4);
  }
  &:hover {
    .feature-image-card-tools {
      opacity: 1;
    }
    ui-favorite-toggle {
      opacity: 1;
    }
    .feature-image-card-top-shadow {
      opacity: 1;
    }
  }
}
