<div
  class="feature-image-card"
  [class.selected]="isSelected"
  [class.is-nsfw]="
    keybind.peakNsfw() || (app.showNsfw$ | async) ? false : image.nsfw()
  "
>
  <img
    [src]="image.path"
    alt=""
    class="cursor-pointer select-none"
    style="-webkit-user-drag: none"
    (mousedown)="onImageMouseDown($event)"
    (mouseup)="onImageMouseUp($event)"
    (dblclick)="onImageDoubleClick()"
  />
  <div class="feature-image-card-top-shadow"></div>
  @if (image.nsfw()) {
    <div
      class="text-2xs font-medium inline-block absolute top-1 start-1 rounded-0 bg-error-400 text-black px-1 py-px pointer-events-none z-1"
    >
      NSFW
    </div>
  }
  @if (image.favorite()) {
    <div
      class="flex items-center justify-center bg-blue-950 absolute top-1 end-1 py-[3px] p-1 w-fit h-fit z-1"
    >
      <mat-icon svgIcon="star" class="text-yellow-200 w-3 h-3"></mat-icon>
    </div>
  }
  @if ((app.showSampler$ | async) && image.sampler) {
    <div
      class="absolute text-2xs bg-neutral-200 inline-flex items-center justify-center bottom-1 end-1 px-1 py-px pointer-events-none z-[2]"
    >
      <span>{{ image.sampler }}</span>
    </div>
  }
  <div class="feature-image-card-tools z-1" (click)="$event.stopPropagation()">
    <ui-favorite-toggle
      class=""
      [value]="image.favorite()"
      (click)="$event.stopPropagation()"
      (onToggle)="image.toggleFavorite()"
    ></ui-favorite-toggle>
    <ui-nsfw-toggle
      [value]="image.nsfw()"
      (onToggle)="image.toggleNsfw()"
    ></ui-nsfw-toggle>
  </div>
</div>
