<ui-list-field
  #DirsListField
  [control]="settingsForm.controls.dirs"
  label="Images Directory"
  addButton="Browse"
  (onAdd)="onAddToDirs($event)"
></ui-list-field>

@if(showOptionals) {
  <ui-toggle label="Show sampler on images in gallery" [control]="settingsForm.controls.showSampler"></ui-toggle>

  <ui-toggle label="Open details panel in gallery by default" [control]="settingsForm.controls.openDetailsInGalleryByDefault"></ui-toggle>

  <ui-toggle label="Open details panel in lightbox by default" [control]="settingsForm.controls.openDetailsInLightboxByDefault"></ui-toggle>

  <ui-toggle label="Peak NSFW images by holding Alt" [control]="settingsForm.controls.peakNsfw"></ui-toggle>
}
