<div
  class="flex items-center flex-none ps-6 h-10 overflow-hidden gap-5 select-none draggable"
>
  <p
    class="tracking-widest font-medium cursor-pointer"
    (click)="openChangelog()"
  >
    STABLE GALLERY <span class="text-2xs">{{ electron.version }}</span>
  </p>

  <div class="flex-auto"></div>
  <ui-toggle
    [control]="nsfwControl"
    activeText="NSFW"
    inactiveText="SFW"
    activeTooltip="Turn off NSFW mode"
    inactiveTooltip="Switch to NSFW mode"
    class="w-16"
    padding="0.125rem 0.5rem"
  ></ui-toggle>
  <ui-icon
    icon="settings"
    class="settings-icon"
    size="1.25rem"
    (onClick)="openSettings()"
  ></ui-icon>

  <div class="flex items-center h-full ms-4">
    <ui-button
      [matTooltip]="'Refreshing is not really required, but it is here for the last resort! '"
      (onClick)="onRefresh()"
      theme="custom"
      class="text-black bg-transparent h-full rounded-0"
      icon="refresh"
      iconSize="1rem"
    ></ui-button>
    <ui-button
      (onClick)="onWindowState('minimize')"
      theme="custom"
      class="text-black bg-transparent h-full rounded-0"
      icon="minimize"
      iconSize="1rem"
    ></ui-button>
    <ui-button
      (onClick)="onWindowState('maximize')"
      theme="custom"
      class="text-black bg-transparent h-full rounded-0"
      [icon]="electron.isMaximized() ? 'unmaximize' : 'maximize'"
      iconSize="0.75rem"
    ></ui-button>
    <ui-button
      (onClick)="onWindowState('close')"
      theme="custom"
      class="text-black bg-transparent h-full rounded-0"
      icon="close"
    ></ui-button>
  </div>
</div>
