.mat-mdc-dialog-surface {
  box-shadow: none !important;
  background: none !important;
  overflow-x: hidden !important;
}
.ui-backdrop-blur {
  background: rgba(0,0,0,0.55) !important;
  backdrop-filter: blur(6px);
}

mat-progress-bar {
  @apply bg-neutral-300 #{!important};

  .mdc-linear-progress__bar-inner {
    @apply border-primary-700 #{!important};
  }
}

.mat-mdc-menu-panel {
  @apply bg-neutral-300 #{!important};
  max-width: 800px !important;
  & > * {
    padding: 1rem !important;
  }
}
