:host {
  &.stroked {
    background-color: transparent;
    &.theme-primary {
      @apply text-black;
    }
    &.theme-secondary {
      @apply text-secondary-400;
    }
    &.theme-error {
      @apply text-error-600;
    }
  }
  &.filled {
    @apply text-white;
    &.theme-primary {
      @apply bg-black;
    }
    &.theme-secondary {
      @apply bg-secondary-400;
    }
    &.theme-error {
      @apply bg-error-400;
    }
  }
  &.text {
    &.theme-primary {
      @apply text-primary-400;
    }
    &.theme-secondary {
      @apply text-secondary-400;
    }
    &.theme-error {
      @apply text-error-400;
    }
  }

  transition-property: width, height, background-color, opacity, font-size,
    border, box-shadow, filter;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  box-sizing: content-box;
  height: 1.75rem;
  max-width: initial;
  width: auto;
  border-radius: 0.25rem;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 600;
  min-width: 16px !important;
  min-height: 16px !important;
  position: relative;
  display: block;
  &.stroked {
    border: 1px solid currentColor;
    //@apply border-neutral-300;
    &:hover:not(.disabled) {
      background-color: var(--hover) !important;
      filter: brightness(100%);
    }
    //&.disabled {
    //  filter: saturate(0%) !important;
    //}
    &.disabled {
      @apply bg-transparent text-neutral-200 border-opacity-40 opacity-40 #{!important};
    }
  }
  &.filled {
    &:hover:not(.disabled) {
      filter: brightness(95%);
      mat-icon {
        filter: brightness(80%) saturate(95%);
      }
    }
    &:hover:active {
      filter: brightness(90%);
    }
    &.disabled {
      @apply border-neutral-50 bg-black bg-opacity-5 text-neutral-100 opacity-50 #{!important};
    }
  }
  &.text {
    &:hover:not(.disabled) {
      @apply bg-transparent hover:bg-primary-50;
    }
    &.disabled {
      @apply text-neutral-300 text-opacity-60 #{!important};
    }
  }
}

.ui-inherit-parent {
  border-radius: inherit !important;
  min-width: inherit !important;
  min-height: inherit !important;
  white-space: normal !important;
  line-height: normal !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-size: inherit !important;
  background: inherit !important;
  color: inherit !important;
  width: 100% !important;
  height: 100% !important;
}

:host ::ng-deep .ui-button {
  transition: none !important;
  position: static !important;
  letter-spacing: 0 !important;

  &.content-align-start {
    @apply justify-start #{!important};
  }
  &.content-align-center {
    @apply justify-center #{!important};
  }
  &.content-align-end {
    @apply justify-end #{!important};
  }

  .ui-button-content {
    @apply flex flex-row items-center justify-center w-full h-full relative;
    &.loading {
      & > *:not(.ui-button-loading-spinner) {
        visibility: hidden !important;
      }
    }
  }
  .ui-button-loading-spinner {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    circle {
      stroke: currentColor !important;
      color: inherit !important;
    }
  }

  &.fit-content {
    .ui-button-content,
    .ui-button-content-portal,
    .mdc-button__label {
      width: 100%;
      height: 100%;
    }
    .ui-button-content-portal {
      & > * {
        width: 100%;
        height: 100%;
      }
    }
  }
}
