<div
  class="ui-inherit-parent"
>
  <button
    #Button
    class="ui-inherit-parent ui-button"
    [disabled]="(disabled ?? false) || loading()"
    [ngStyle]="{ padding: padding }"
    (click)="onClickEvent($event)"
    [routerLink]="$any(route)"
    [class.fit-content]="fitContent"
    [class.content-align-start]="align === 'start'"
    [class.content-align-center]="align === 'center' || align === undefined"
    [class.content-align-end]="align === 'end'"
  >
    <div class="ui-button-content" [class.loading]="loading()">
      <ng-container *ngIf="iconPosition === 'prefix'" [ngTemplateOutlet]="Icon"></ng-container>
      <div class="ui-button-content-portal inline-flex gap-2 items-center whitespace-nowrap mx-px hide-if-empty">
        <ng-content></ng-content>
      </div>
      <ng-container *ngIf="iconPosition === 'suffix'" [ngTemplateOutlet]="Icon"></ng-container>
      <div *ngIf="loading()" class="ui-button-loading-spinner">
        <mat-spinner color="primary" diameter="16" class="mx-px"></mat-spinner>
      </div>
    </div>
  </button>
</div>

<ng-template #Icon>
  <mat-icon
    class="transition-colors"
    *ngIf="!!icon"
    [svgIcon]="icon"
    [style]="'width:' + iconSize + ';height:' + iconSize"
  ></mat-icon>
</ng-template>
