<ui-field
  [label]="filterDictionary.prompt"
  [control]="filterGroup.controls.prompt"
></ui-field>

<ui-field
  [label]="filterDictionary.negativePrompt"
  [control]="filterGroup.controls.negativePrompt"
></ui-field>

<ui-field
  [label]="filterDictionary.sampler"
  [control]="filterGroup.controls.sampler"
></ui-field>

<ui-slider
  [label]="filterDictionary.cfg"
  [control]="filterGroup.controls.cfg"
  [range]="true"
  [step]="0.5"
  [min]="0"
  [max]="50"
></ui-slider>

<ui-slider
  [label]="filterDictionary.steps"
  [control]="filterGroup.controls.steps"
  [min]="1"
  [max]="300"
  [range]="true"
></ui-slider>
