<div class="flex flex-col relative h-full">
  <div
    class="flex-none flex items-center w-full bg-neutral-200 gap-6 px-12 h-12 z-[4]"
    style="box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.7)"
  >
    <ui-icon
      class="w-8"
      [matMenuTriggerFor]="ViewMenu"
      icon="view"
      matTooltip="View Options"
    ></ui-icon>
    <mat-menu #ViewMenu>
      <div
        class="grid grid-cols-2 gap-4 justify-items-start"
        (click)="$event.stopPropagation()"
      >
        <feature-view-options-form #ViewOptions></feature-view-options-form>
      </div>
    </mat-menu>

    <ui-icon
      #FilterMenuTrigger="matMenuTrigger"
      class="w-8"
      [matMenuTriggerFor]="FilterMenu"
      [icon]="currentFilterModel() ? 'filter-filled' : 'filter'"
      matTooltip="Filters"
    ></ui-icon>
    <mat-menu #FilterMenu>
      <div
        class="grid grid-cols-2 gap-4 justify-items-start"
        (click)="$event.stopPropagation()"
      >
        <feature-filter-form #FilterForm></feature-filter-form>
        <div class="w-full col-span-full flex items-center justify-end gap-4">
          <ui-button
            class="h-8 w-36"
            appearance="stroked"
            theme="error"
            (onClick)="resetFilterModel(); FilterMenuTrigger.closeMenu()"
            >Reset</ui-button
          >
          <ui-button
            class="text-black bg-primary-600 h-8 w-48"
            (onClick)="setFilterModel(); FilterMenuTrigger.closeMenu()"
            >Apply</ui-button
          >
        </div>
      </div>
    </mat-menu>

    <div class="flex-auto"><!-- Spacer --></div>
    <ui-field
      [control]="sortByControl"
      controlType="select"
      label="Sort By"
      placeholder="Sort by..."
      [items]="sortByItems"
      width="8rem"
    ></ui-field>
    <ui-button-group
      class="-ms-8"
      [control]="sortDirectionControl"
      [items]="[
        { icon: 'asc', value: 'asc', hint: 'Ascending' },
        { icon: 'desc', value: 'desc', hint: 'Descending' },
      ]"
    ></ui-button-group>
    <ui-field
      [control]="searchControl"
      icon="search"
      placeholder="Search..."
    ></ui-field>
  </div>

  @if (activeFilterItems(); as filterItems) {
    <div
      class="transition-all flex flex-none items-center gap-3 px-6 overflow-hidden z-[3] {{
        filterItems.length ? 'h-12' : 'h-0'
      }}"
      style="box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.7)"
    >
      <span>Active Filters:</span>
      <div class="flex-auto flex items-center overflow-auto gap-2">
        @for (item of filterItems; track item.label) {
          <ui-chips
            [label]="item.label"
            [value]="item.value"
            [clearable]="true"
            (onClear)="FilterForm.resetSingle($any(item.key)); setFilterModel()"
          ></ui-chips>
        }
      </div>
      <ui-button (onClick)="saveFilterGroup()" class="bg-primary-600 text-black"
        >Save as Group</ui-button
      >
    </div>
  }

  @if (filterGroups$ | async; as filterGroups) {
    <div
      class="flex-none flex items-center overflow-hidden z-[2] {{
        filterGroups.length ? 'h-10' : 'h-0'
      }}"
      style="box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.7)"
    >
      <ui-tab-group
        class="h-full"
        [items]="filterGroups"
        [control]="filterGroupControl"
      ></ui-tab-group>
    </div>
  }

  <div class="flex-auto flex relative overflow-hidden">
    <div class="flex-auto overflow-auto px-1" (scroll)="onScroll($event)">
      @if ((ViewOptions.viewStyleControl.value$ | async) === 'grid') {
        <div
          class="grid"
          [style.gap.px]="ViewOptions.itemGapControl.value$ | async"
          [style.grid-template-columns]="
            'repeat(' +
            (ViewOptions.itemPerRowControl.value$ | async) +
            ', minmax(0, 1fr))'
          "
        >
          @for (item of items(); track item.path; let index = $index) {
            <feature-image-card
              [image]="item"
              class="border-2 {{
                selectionModel.selectedIds()[item.path]
                  ? 'border-primary-600'
                  : 'border-transparent'
              }}"
              [style.aspect-ratio]="ViewOptions.itemSizeControl.value$ | async"
              [isSelected]="selectionModel.selectedIds()[item.path]"
              (mousedown)="onImageMouseDown(index, item)"
              (mousemove)="onImageMouseMove(index, item)"
              (mouseup)="onImageMouseUp(index, item)"
            ></feature-image-card>
          }
        </div>
      } @else {
        <ui-masonry
          [items]="items()"
          [cols]="(ViewOptions.columnsControl.value$ | async) ?? 4"
          [trackBy]="itemTrackBy"
          [style.gap.px]="ViewOptions.itemGapControl.value$ | async"
        >
          <ng-template let-item="item">
            <feature-image-card
              [image]="item"
              [isSelected]="selectionModel.selectedIds()[item.path]"
              (onMouseUp)="selectionModel.set(item)"
            ></feature-image-card>
          </ng-template>
        </ui-masonry>
      }
    </div>
    <feature-image-details-pane
      class="flex-none z-[2] transform-gpu"
      [open]="openDetails()"
      [image]="firstHighlightedImage()"
      [showImage]="true"
    ></feature-image-details-pane>

    <div
      class="absolute z-1 bottom-0 left-0 right-0 flex-none flex items-center w-full overflow-hidden bg-neutral-200 gap-6 px-4 transition-all {{
        selectionModel.selectedCount() > 1 ? 'h-16' : 'h-0'
      }}"
    >
      <span class="font-medium"
        >Selected Images: {{ selectionModel.selectedCount() }}</span
      >
      <feature-image-actions
        [images]="selectionModel.selected()"
      ></feature-image-actions>
    </div>
  </div>
</div>
