<div class="flex flex-col relative h-full">
  <div class="flex-none flex items-center w-full bg-neutral-200 gap-6 px-4">
    <ui-button-group
      label="View"
      [control]="viewStyleControl"
      [items]="[{ label: 'G', value: 'grid' }, { label: 'M', value: 'masonry' }]"
    ></ui-button-group>

    <ui-field
      [control]="itemPerRowControl"
      type="number"
      label="Items Per Row"
      [min]="2"
      [max]="12"
      width="2.5rem"
      class="text-center"
    ></ui-field>

    <ui-slider
      [control]="itemSizeControl"
      label="Items Aspect Ratio"
      [min]="0.3"
      [max]="1.7"
      [step]="0.05"
    ></ui-slider>

    <div class="flex-auto"><!-- Spacer --></div>

    <ui-field [control]="searchControl" placeholder="Search..."></ui-field>
  </div>
  <div class="flex-auto overflow-auto px-1" (scroll)="onScroll($event)">
    <div
      class="grid gap-1"
      [style.grid-template-columns]="
        'repeat(' + (itemPerRowControl.value$ | async) + ', minmax(0, 1fr))'
      "
    >
      @for(item of items(); track item.path) {
      <feature-image-card
        [image]="item"
        [style.aspect-ratio]="itemSizeControl.value$ | async"
      ></feature-image-card>
      }
    </div>
  </div>
</div>
