:host ::ng-deep .settings-icon {
  &:hover {
    mat-icon {
      animation: rotate 5s linear infinite;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
