<main class="flex flex-col h-full bg-neutral-100">
  <div class="flex items-center flex-none px-6 h-14 overflow-hidden gap-5">
    <p class="tracking-widest font-medium cursor-pointer" (click)="openChangelog()">STABLE GALLERY <span class="text-2xs">{{ electron.version }}</span></p>

    <div class="flex-auto"></div>
    <ui-toggle [control]="nsfwControl" activeText="NSFW" inactiveText="SFW" activeTooltip="Turn off NSFW mode" inactiveTooltip="Switch to NSFW mode" class="min-w-[4rem]"></ui-toggle>
    <ui-icon icon="settings" class="settings-icon" size="1.625rem" (onClick)="openSettings()"></ui-icon>
  </div>
  <div class="relative flex-auto overflow-auto">
    <router-outlet></router-outlet>
  </div>
  <div class="relative flex items-center flex-none h-8 px-6 gap-2 bg-neutral-50 bg-opacity-50">
    @if(scan.progress$ | async; as progress) {
      @if(progress !== 0 && progress !== 1) {
        <mat-progress-bar class="absolute -top-0.5 left-0 right-0 h-1" [value]="progress * 100"></mat-progress-bar>
      }
    }
    <div class="w-2.5 h-2.5 transition-all rounded-full border {{ (scan.isScanning$ | async) ? 'border-primary-700 bg-primary-500' : 'border-black' }}"></div>
    <p class="text-sm">{{ (scan.isScanning$ | async) ? 'Watching...' : 'Idle' }}</p>
    <p class="overflow-hidden text-ellipsis w-1/2 opacity-50 text-nowrap" dir="rtl">{{ scan.currentScanningFile$ | async }}</p>
  </div>
</main>
