:host {
  text-align: start;
}

.ui-field {
  @apply inline-flex items-center p-1;
  .ui-field-label {
    flex: none;
  }
  .ui-field-input {
    @apply flex gap-2 bg-neutral-50 px-2 py-0.5 relative;
    width: 100%;
    min-width: 2rem;
    input {
      @apply bg-transparent outline-0 w-full;
      text-align: inherit;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
